.main {
  background-color: #f1f5f9;
  color: #666;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px 20px;
  border: 1px solid #999 ;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  h2 {
    text-align: center;
    margin: 0;
  }
  .list {
    display: flex;
    flex-direction: column;
    height: 340px;
    overflow: auto;
    margin: 10px 0;
    padding: 10px 0;
    border: {
      top: 1px solid #999;
      bottom: 1px solid #999;
    }
    .reminderCard{
      display: flex;
      border: 1px solid #999;
      margin: 5px 0;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      img {
        border-left: 1px solid #999;

      }
      .info {
        & h3,
        & p {
          margin: 8px 10px;
        }
      }
}
  }
  .controls {
    display: flex;
    justify-content: space-between;
  }
}
button {
  background-color: #27cdee;
  color: #fff;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 15px;
  outline: 3px solid #f1f5f9;
  outline-offset: -6px;
  transition: outline-offset 100ms ease;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: outline-offset 100ms ease;
  -moz-transition: outline-offset 100ms ease;
  -ms-transition: outline-offset 100ms ease;
  -o-transition: outline-offset 100ms ease;
  &:hover {
  outline-offset: 0;
  }
}
input {
  height: 50px;
  padding: 0 10px;
  font-size: 21px;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}